body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .countdown {
    margin-top: 50px;
  }
  
  #timer {
    display: flex;
    justify-content: center;
  }
  
  #timer div {
    margin: 0 10px;
  }
  
  #timer span {
    font-size: 2em;
    font-weight: bold;
  }
  
  .bottom-image {
    display: block;
    margin-top: 20px; /* Ajustar el margen para separar la imagen de la cuenta regresiva */
    max-width: 100%;
  }
  
  @media only screen and (min-width: 601px) {
    .bottom-image {
      display: none; /* Ocultar la imagen en pantallas más grandes */
    }
  }
  